{% extends '_layout/base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'scrum/css/whiteboard.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <header class="row">
        <input id=project_title class="col-xs-12 whiteboard_field title_font" type="text" autofocus=autofocus value="{{ project.name }}"></input>
        <textarea rows=2 class="col-xs-12 whiteboard_field text_font">{{ project.description}}</textarea>
    </header>
    <div class="row">
        
        <section id=stories class="col-sm-4">
            <h3>{% trans 'Stories' %}</h3>
            <ul>
                {% for story in stories %}
                    <li><input data-id={{ story.id }} class="whiteboard_field text_font" value="{{story}}"></input></li>
                {% endfor %}
                <li><input class="whiteboard_field text_font"></input></li>
            </ul>
        </section>
            
        <section id=tasks class="col-sm-4">
            <h3>{% trans 'Tasks' %}</h3>
            <ul>
                {% for task in tasks %}
                    <li><input data-id={{ task.id }} class="whiteboard_field text_font" value="{{task}}"></input></li>
                {% endfor %}
                <li><input class="whiteboard_field text_font"></input></li>
            </ul>
        </section>
        
        <section id=sprints_backlogs class="col-sm-4">
            <div id=sprints class="row">
                <h3>{% trans 'Sprints' %}</h3>
                <ul>
                    {% for sprint in project.sprints.all %}
                        <li data-id="{{ sprint.id }}">
                            <div>Sprint #{{ sprint.number }}<div>
                            <ul>
                                {% for task in sprint.tasks.all %}
                                    <li data-id="{{ task.id }}">{{ Task.title }}</li>
                                {% empty %}
                                    <li>{% trans 'The sprint is empty. Put some gaz!' %}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% empty %}
                        <li>{% trans 'No sprints here!' %}
                    {% endfor %}
                </ul>
            </div>
            <div id=backlogs class="row">
                <h3>{% trans 'backlog' %}</h3>
                <ul>
                    {% for task in backlogs %}
                        <li data-id="{{ task.id }}">{{ Task.title }}</li>
                    {% empty %}
                        <li>{% trans 'Oh yeah! No backlogs!' %}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scrum/js/whiteboard.js' %}"></script>
{% endblock %}
