{% extends '_layout/base.html' %}
{% load static %}
{% block extra_css %}{% endblock %}
{% block content %}
    <header class="row">
        <input id=project_title class="col-xs-12 whiteboard_field" type="text" autofocus=autofocus></input>
        <textarea rows=2 class="col-xs-12 whiteboard_field"></textarea>
    </header>
    <div class="row">
        <section id=stories class="col-sm-4">
            <ul>
                <li><input class="whiteboard_field"></input></li>
            </ul>
        </section>
        <section id=tasks class="col-sm-4">
            <ul>
                <li><input class="whiteboard_field"></input></li>
            </ul>
        </section>
        <section id=sprints_backlogs class="col-sm-4">
            <div id=sprints class="row">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div id=backlogs class="row">
                <ul>
                    <li></li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scrum/js/whiteboard.js' %}"></script>
{% endblock %}
