{% extends '_layout/base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'scrum/css/whiteboard.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div id=whiteboard_bg>
        <section id=project_head class="row">
            <input id=project_title class="col-xs-12 whiteboard_field title_font" type="text" autofocus=autofocus value="{{ project.name }}"></input>
            <textarea id=project_description rows=2 class="col-xs-12 whiteboard_field text_font">{{ project.description}}</textarea>
        </section>
        <div class="row">
            <section id=stories class="col-sm-4">
                <h3 class="title_font">{% trans 'Stories' %}</h3>
                <ul>
                    {% for story in project.stories.all %}
                        <li><input data-id={{ story.id }} class="whiteboard_field text_font" value="{{story}}"></input></li>
                    {% endfor %}
                    <li class="empty-story"><input class="whiteboard_field text_font"></input></li>
                </ul>
            </section>
                
            <section id=tasks class="col-sm-4">
                <h3 class="title_font">{% trans 'Tasks' %}</h3>
                <ul>
                    {% for task in tasks %}
                        <li data-story="{{ task.story_id }}">
                            <span class="glyphicon glyphicon-chevron-right">
                            </span><input data-id={{ task.id }} class="whiteboard_field text_font" value="{{task}}"></input>
                        </li>
                    {% endfor %}
                    <li class="empty-task"><span class="glyphicon glyphicon-chevron-right"></span><input class="whiteboard_field text_font"></input></li>
                </ul>
            </section>
            
            <section id=sprints_backlogs class="col-sm-4">
                <div id=sprints class="row">
                    <h3 class="title_font">{% trans 'Sprints' %} <span id=add_sprint>+</span></h3>
                    <ul>
                        {% for sprint in project.sprints.all %}
                            <li>
                                <div class="text_font sprint_number">Sprint #{{ sprint.number }}</div>
                                <ul data-id="{{ sprint.id }}" class="sprint_tasks{% if forloop.last%} visible_sprint{% endif %}">
                                    {% for task in sprint.tasks.all %}
                                        <li data-id="{{ task.id }}"><span class="glyphicon glyphicon-remove"></span>{{ task.title }}</li>
                                    {% empty %}
                                        <li>{% trans 'The sprint is empty. Put some gaz!' %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% empty %}
                            <li>{% trans 'No sprints here!' %}
                        {% endfor %}
                    </ul>
                </div>
                <div id=backlogs class="row">
                    <h3 class="title_font">{% trans 'backlog' %}</h3>
                    <ul>
                        {% for task in backlogs %}
                            <li data-id="{{ task.id }}">{{ task.title }}</li>
                        {% empty %}
                            <li>{% trans 'Oh yeah! No backlogs!' %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scrum/js/whiteboard.js' %}"></script>
{% endblock %}
