{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}Agile-board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static '_layout/css/agileboard.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'scrum/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'scrum/css/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet" media="screen">
    {% block extra_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id=container class="container">
        <h1>{% trans 'Welcome to Agile-board' %}</h1>
        {% block content %}
        {% endblock %}
    </div>

    <script>
    function errorMessage(message){
        $('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>').appendTo($('body')).alert();
    }
    //Configure ajax and CSRF

    // See https://docs.djangoproject.com/en/1.5/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false,
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'scrum/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scrum/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
  </body>
</html>
