@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


ul{
    list-style: none;
    padding:0;
}
.title_font{
    font-family: 'Permanent Marker', cursive;
}

.text_font{
    font-family: 'Covered By Your Grace', cursive;
}

.ui-state-hover{
    border: 1px solid black;
}

.alert{
    position: fixed;
    top: 25px;
    left: 10px;
    right: 10px;
}
