{% extends '_layout/base.html' %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% block extra_css %}
    <link href="{% static 'scrum/css/login.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <section id=login class="col-md-offset-2 col-sm-4">
            <img src="{% static 'scrum/images/logo.png' %}" width=371 height=247 >
        </section>
        <section id=login class="col-sm-4">
            <h3>{% trans 'You are logged out' %}</h3>
            <a href="{% url 'login' %}" class=""><button class="login-btn">Login</span></a>
        </section>
    </div>
{% endblock %}
