a, a:hover, a:link, a:active{
    text-decoration: none;
}

h3{
    font-size: 36px;
}

li {
    background-color: #ffd800;
    height : 100px;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 5px 5px 3px #333;
    
}

#sprint_title{
    font-size: 48px;
}

#sprint_head{
    color: #868886;
    text-align: center;
}


#whiteboard_bg {
    background-color: #FFF;
    padding: 40px;
    padding-bottom: 70px;
    margin-top: 40px;
    background-image: url('../images/postit1.png'), url('../images/postit2.png'), url('../images/pencils2.png'), url('../images/board_tl.png'), url('../images/board_tr.png'), url('../images/board_bl.png'), url('../images/board_br.png'), url('../images/board_t.png'), url('../images/board_l.png'), url('../images/board_r.png'), url('../images/board_b.png'), url('../images/doodle_left.png'), url('../images/doodle_right.png');
    background-position: top left, top right, bottom, top left, top right, bottom left, bottom right, top, left, right, bottom, top left, top right;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x, no-repeat, no-repeat;
}



