.sprint_tasks{
    display: none;
}

#tasks li {
    display: none;
}

.visible_sprint ul {
    display: block;
}

.visible_task{
    display: block !important;
}

.story_selected{
    background-color: #00A;
}


